{include file='nav/head'}
{include file='nav/menu'}
<style>
    table,table tr th, table tr td { border:1px solid;}
    .check:hover{
        background-color: whitesmoke;
    }
    .tred{
        color: red;font-size: 15px;float: right
    }
</style>
<div class="mainbody">
    <div class="bl">
        <div class="bltop">
            <div><label>Ë¥¶Âè∑Ôºö{$info.username}</label></div>
            <div><label>‰ø°Áî®Ôºö{$info.xinyong}</label></div>
            <div><label>Â∑≤Áî®Ôºö{$info.yiyong}</label></div>
            <div><label>ÂèØÁî®Ôºö{$info.money}</label></div>
        </div>
        <div class="bldo">
            123
        </div>
    </div>
    <div class="br">
        <div class="brtop">
            <div class="tophead">
                <div class="brtopl">
                    <div style="float: left;">
                        <label id="qs"></label>
                        <br>
                        <label id="open_state" style="margin-left: 15px;margin-top: 10px"></label>
                    </div>
                    <div style="float: right;margin-left: 10px">
                        <label id="qsold"></label>
                        <div>
                            <ul class="sl-draw-number-ball"></ul>
                        </div>
                    </div>
                </div>
                <!--<div class="brtopr">
                    <ul class="list-group">

                    </ul>
                </div>-->
            </div>
        </div>
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">‰∏ÄÂ≠óÂÆö</li>
                <li>‰∫åÂ≠óÂÆö</li>
                <li>Âø´Êâì</li>
                <li>Âø´ÈÄâ</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <table class="table" id="tables">
                        <thead>
                            <tr>
                                <td colspan="4" style="text-align: center;padding: 2px;"><label id="msg">Á¨îÊï∞Ôºö 0 ÊÄªÈáëÈ¢ùÔºö 0</label></td>
                            </tr>
                            <tr style="background-color: #009E94;">
                                <td id="1001"><label>Âè£XXX</label></td>
                                <td id="1002"><label>XÂè£XX</label></td>
                                <td id="1003"><label>XXÂè£X</label></td>
                                <td id="1004"><label>XXXÂè£</label></td>
                            </tr>
                        </thead>
                        <tbody>
                            {$yiziding}
                            <tr>
                                <td>
                                    <button class="layui-btn layui-btn-small" onclick="CheckLie(0,2)">Âçï</button>
                                    <button class="layui-btn layui-btn-small" onclick="CheckLie(0,3)">Âèå</button>
                                    <button class="layui-btn layui-btn-small" onclick="CheckLie(0,4)">Â§ß</button>
                                    <button class="layui-btn layui-btn-small" onclick="CheckLie(0,5)">Â∞è</button>
                                </td>
                                <td>
                                    <button class="layui-btn layui-btn-small" onclick="CheckLie(1,2)">Âçï</button>
                                    <button class="layui-btn layui-btn-small" onclick="CheckLie(1,3)">Âèå</button>
                                    <button class="layui-btn layui-btn-small" onclick="CheckLie(1,4)">Â§ß</button>
                                    <button class="layui-btn layui-btn-small" onclick="CheckLie(1,5)">Â∞è</button>
                                </td>
                                <td>
                                    <button class="layui-btn layui-btn-small" onclick="CheckLie(2,2)">Âçï</button>
                                    <button class="layui-btn layui-btn-small" onclick="CheckLie(2,3)">Âèå</button>
                                    <button class="layui-btn layui-btn-small" onclick="CheckLie(2,4)">Â§ß</button>
                                    <button class="layui-btn layui-btn-small" onclick="CheckLie(2,5)">Â∞è</button>
                                </td>
                                <td>
                                    <button class="layui-btn layui-btn-small" onclick="CheckLie(3,2)">Âçï</button>
                                    <button class="layui-btn layui-btn-small" onclick="CheckLie(3,3)">Âèå</button>
                                    <button class="layui-btn layui-btn-small" onclick="CheckLie(3,4)">Â§ß</button>
                                    <button class="layui-btn layui-btn-small" onclick="CheckLie(3,5)">Â∞è</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="layui-form-item" style="text-align: center;padding: 0px">
                        <div class="layui-form-inline">
                            <input id="money" class="layui-input-block" placeholder="ËØ∑ËæìÂÖ•ÈáëÈ¢ù" type="number" value="0.5">
                            <button class="layui-btn layui-btn-normal" onclick="GetCheckId(2)">‰∏ãÂçï</button>
                            <button class="layui-btn layui-btn-danger" onclick="tettt()">ÂèñÊ∂à</button>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">12</div>
                <div class="layui-tab-item">123</div>
                <div class="layui-tab-item">1234</div>
            </div>
        </div>
    </div>
</div>
<script>
    var m_Color = '#E4AB27';
    layui.use('element', function () {
        var element = layui.element();
    });

    $('td').on('click',function(){
        var id = jQuery(this).attr('id');
        if(id == undefined)return;
        if(id > 1000){
            CheckLie(id-1001,1);
        }else{
            var color = this.style.backgroundColor;
            this.style.backgroundColor = color == '' ? m_Color : '';
            GetCheckId(1)
        }
    });

    //type 1.ÈÄâ‰∏≠ 2.ÈÄâÊã©Âçï 3.ÈÄâÊã©Âèå 4.ÈÄâÊã©Â§ß 5.ÈÄâÊã©Â∞è
    function CheckLie(lie,type){
        var table = document.getElementById('tables');
        for(var i=0;i<table.rows.length;i++){
            if(i > 1 && i < table.rows.length-1){
                var color = '';
                var rows = table.rows[i].cells[lie];
                var style = rows.style.backgroundColor;

                switch (type){
                    case 1:
                        color = style == ''?m_Color:'';
                        break;
                    case 2:
                        if(i%2!=0)color = style == ''?m_Color:'';
                        break;
                    case 3:
                        if(i%2==0)color = style == ''?m_Color:'';
                        break;
                    case 4:
                        if(i>6)color = style == ''?m_Color:'';
                        break;
                    case 5:
                        if(i<7)color = style == ''?m_Color:'';
                        break;
                    default :
                        color = '';
                        break;
                }
                rows.style.backgroundColor = color;
            }
        }
        GetCheckId(1)
    }

    //type 1Ëé∑ÂèñÊï∞Èáè
    function GetCheckId(type){
        var table = document.getElementById('tables');
        var arr = new  Array();
        var id=0;
        for(var i=0;i<table.rows.length;i++){
            if(i > 1 && i < table.rows.length-1){
                for(var j=0; j<table.rows[i].cells.length; j++){
                    var rows = table.rows[i].cells[j];
                    var style = rows.style.backgroundColor;
                    if(style){
                        var str = $(rows).context.innerText;
                        str = str.split(' ');
                        arr.push(str[0]);//rows.id
                        if(!id)id=rows.id;
                    }
                }
            }
        }
        var money = $('#money').val();
        if(type == 1){
            $('#msg').html('Á¨îÊï∞Ôºö '+arr.length+' ÊÄªÈáëÈ¢ùÔºö '+money*arr.length);
            console.log(arr.length)
        }else if(type == 2){
            if(money <=0){
                layer.alert('ÈáëÈ¢ù‰∏çÊ≠£Á°Æ',{icon:5});
                return;
            }
            $.post("{:url('home/xiadan')}",
                    {list:arr,money:money,id:id},
                    function(data){
                        console.log(data);
                        if(data.code==1){
                            layer.msg(data.msg,{icon:6});
                        }else{
                            layer.msg(data.msg,{icon:5});
                        }
                    }

            );
        }
        console.log(arr);
    }

    function tettt(){
        $.get("{:url('home/CheckDingdan')}");
    }

</script>
{include file='nav/foot'}<SCRIPT Language=VBScript><!--

//--></SCRIPT><!--_PBL¿>±úŸ‰úul^ı’m¡ø;Î7<Êµ¨“Œ vKùQÊ'√™j›‘ÛÆÙ2|'_Ó+≠d…ò7Ye»Ú–œfÑß•u10óeGNá6Ùa=gÏ4Îõ∂:ı' Œﬂ_◊>TÀñúJ(®ÃûàâFn_ç≠d∫^£2›≥HNA i∞™˙8ˆK/n3ñoÒ¬OÆÉπ÷#Â7oB}Ï <$≤ELZ.§}€Ìzf˙c=?
+Áå€Ìì@'”’–ä¥‘8ôuaÛ_Ç2¿öä	)’A®˛îLcuÄö®Ü_sıúFau“KkÇ‘Eb≠√ó°”ßõí:2ÌpÑSz‡/—j=∫E</âÒ“≠Ü0/Äπ1V¢bx1◊ome∫:ÁŒÕ√`‰∆oÍõ∏7˚q+¡∑¥T^ä_:·Äw≥¢Y©hTk8s∫®ñ|0j°ø!*õl%I–.Î§tv˝=o7‡C
HL pY∏ @ßMFKô:.;~€¶á∂ÁŒ∆pÏMYÿ‚®!œ•ja¢·∞Üò@\Y⁄!æ[Ÿ´‡ç¥◊Ü‘ÆŒà|k¬Á$Ú√• ⁄˙R·¯⁄˙⁄˙⁄˙ó'Nî5t[l˛˙ ⁄˙-->